services:
  grafana:
    build: .
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_PANELS_DISABLE_SANITIZE_HTML=true
      - GF_SERVER_APP_TITLE=Optimaxx Analysis Platform
      - GF_USERS_DEFAULT_THEME=light
      - GF_NEWS_NEWS_FEED_ENABLED=false
      - GF_PUBLIC_DASHBOARDS_ENABLED=true
      - GF_EXPLORE_ENABLED=false
      - GF_SNAPSHOTS_ENABLED=false
      - GF_ANALYTICS_CHECK_FOR_UPDATES=false

    volumes:
      - ./data:/var/lib/grafana
